# Copy this file to .env and change the values.
TZ=America/New_York
ADMIN_PASSWORD=CHANGE_ME_NOW
SECRET_KEY=CHANGE_TO_A_LONG_RANDOM_SECRET

REFRESH_SECONDS=60
SNAPRAID_CONFIG=/etc/snapraid.conf
ENABLE_ACTIONS=false
ENABLE_DOCKER_MONITOR=false
